.header {
  // background-image: url("../../assets/books.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  &__title {
    font-family: Poppins;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #000000;
  }

  &__heart-icon {
    width: 45px;
    margin: 0 1rem;
  }
  &__heart-p {
    font-size: 0.7rem;
    margin: 0;
    font-weight: 200;
    color: #ff43c0;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .header {
    &__title {
      font-size: 3rem;
    }
    &__heart-icon {
      margin: 0 0.4rem;
    }
  }
}
