#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
}

.dark {
  background: rgb(59, 57, 57);
  color: white;
}

.light {
  background: white;
  color: black;
}

.app {
  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__favorite-list {
    padding-top: 1rem;
  }
  &__title {
    font-weight: 200;
    text-transform: uppercase;
  }
}
